fastapi==0.115.6
uvicorn[standard]==0.34.0
python-dotenv==1.0.1
google-auth==2.37.0
google-auth-oauthlib==1.2.1
google-api-python-client==2.157.0
google-cloud-firestore==2.20.0
pydantic==2.10.5
groq==1.7.0
